@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

body {
    background-color: #020618;
}

::-webkit-scrollbar {
  width: 8px;  /* Largura para barras verticais */
  height: 8px; /* Altura para barras horizontais (nosso caso!) */
}

::-webkit-scrollbar-track {
  /* Usando @apply para pegar a cor da nossa paleta Tailwind! */
  @apply bg-slate-800;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600; /* Cor da alça que você arrasta */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  /* Muda para nossa cor de destaque ao passar o mouse */
  @apply bg-sky-600;
}